{% extends 'base.html.twig' %}

{% block title %}Votre espace personnel{% endblock %}

{% block body %}

    <section class="profile">

        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="success">
                    <div class="container">
                        <div>{{ message }}</div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
        
        <div class="container">
            <h1>Mon espace personnel</h1>
            {% if is_granted('ROLE_USER') %}

                <div class="profile-infos">

                    {% block profile_data %}
                        {% include "profile/profile_data.html.twig" %}
                    {% endblock %}

                    {% block profile_dashboard %}
                        {% include "profile/profile_dashboard.html.twig" %}
                    {% endblock %}
                    
                </div>
                
            {% endif %}
        </div>
    </section>

{% endblock %}
