{# Affichage dynamique du rôle de l'utilisateur #}
{% block profile_roles %}

    {% if user.roles[0] == 'ROLE_USER' %}

        <p>{{ (user.gender == 'M') ? 'Candidat' : 'Candidate' }}</p>

    {% elseif user.roles[0] == 'ROLE_EMPLOYEE' %}

        <p>{{ (user.gender == 'M') ? 'Collaborateur' : 'Collaboratrice' }}</p>

    {% else %}

        <p>{{ (user.gender == 'M') ? 'Commercial' : 'Commerciale' }}</p>

    {% endif %}

{% endblock %}