{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <h1>Se connecter</h1>
            <form method="post" class="form login-form">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}">
                <div>
                    <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
                </div>
            </form>
        </div>
        {% if error %}
            <div class="alert">
                <div class="container">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            </div>
        {% endif %}
        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="success">
                    <div class="container">
                        <div>{{ message }}</div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </section>
{% endblock %}
