{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <section class="home">
        <div class="container">
            <h1>Bienvenue</h1>
            <p>Nibh cras pulvinar mattis nunc sed blandit. Mi quis hendrerit dolor magna. Tortor condimentum lacinia quis vel eros donec. Lectus quam id leo in vitae turpis massa. Vulputate enim nulla aliquet porttitor lacus luctus. Pretium vulputate sapien nec sagittis. Sit amet cursus sit amet dictum sit. Potenti nullam ac tortor vitae purus faucibus. Fames ac turpis egestas integer. Et egestas quis ipsum suspendisse ultrices gravida dictum fusce ut. Tincidunt lobortis feugiat vivamus at augue eget arcu dictum. Etiam dignissim diam quis enim lobortis scelerisque fermentum. Dignissim suspendisse in est ante in nibh. Etiam sit amet nisl purus in mollis. Arcu vitae elementum curabitur vitae nunc sed velit dignissim sodales. Sit amet risus nullam eget. Integer eget aliquet nibh praesent tristique magna sit amet purus. Lectus nulla at volutpat diam ut venenatis tellus in metus. Sit amet cursus sit amet dictum sit.</p>
            <p>Pour nous adresser une <strong>candidature spontanée</strong>, merci de bien vouloir créer votre espace personnel.</p>
        </div>

        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="success">
                    <div class="container">
                        <div>{{ message }}</div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
        
    </section>

{% endblock %}
