{% extends 'base.html.twig' %}

{% block title %}Ajoutez une compétence{% endblock %}

{% block body %}
    <section>
        <div class="container">
            {% if is_granted('ROLE_EMPLOYEE') %}
                
                <div class="profile-header cta-right">
                    <a href="{{ path('skills') }}" class="cta">Retour</a>
                </div>
                <h1>Ajoutez une compétence</h1>
                {{ form_start(skill_form, {'attr': {'class': 'form'}}) }}
                {{ form_end(skill_form) }}
                
            {% endif %}
        </div>
    </section>
{% endblock %}
