{% extends 'base.html.twig' %}

{% block title %}Supprimez une technology{% endblock %}

{% block body %}

    <section class="profile">
        <div class="alert">
            <div class="container">
                <p>Vous êtes sur le point de supprimer la technologie '{{ technology.name }}'. Cela nécessite également de supprimer toutes les compétences utilisateurs liées à cette technologie. Cette action est rédibitoire. Etes-vous sûr de continuer ?</p>
            </div>
        </div>
        <div class="container">
            <div class="actions">
                <a href="{{ path('delete_technology', {'id': technology.id}) }}" class="cta delete">Supprimer la catégorie</a>
                <a href="{{ path('technologies') }}" class="cta">Retour</a>
            </div>
        </div>
    </section>
    
{% endblock %}
