{% extends 'base.html.twig' %}

{% block title %}Hello ApplicationController!{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <h1>Formulaire de candidature</h1>
            {% if is_granted('ROLE_USER') and not is_granted('ROLE_EMPLOYEE') %}
                {{ form_start(application_form, {'attr': {'class': 'form application-form'}}) }}
                {{ form_end(application_form) }}
            {% endif %}
        </div>
        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="success">
                    <div class="container">
                        <div>{{ message }}</div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </section>
{% endblock %}
