:root {
  --primary-background:         #FFF;
  --primary-color:              #000;
  --header-background:          #032354;
  --footer-background:          #032354;

  --header-links-color:         #FFF;
  --footer-links-color:         #D5D5D5;
  --footer-links-color-hover:   #FFF;

  --forms-background:           #E4E4E4;
  --dashboard-feature:          #F5F5F5;

  --alert-background:           #EDBEBE;
  --alert-color:                #871919;
  --success-background:         #AEEBB5;
  --success-color:              #138320;
  
  --shadow:                     1px 2px 3px rgba(0, 0, 0, 0.3);
  --borders:                    #979797;
}





body {
  background-color: var(--primary-background);
  font-family: sans-serif;
}
section {
  min-height: calc(100vh - (52px + 84px));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  margin: 3rem 0;
  text-align: center;
  font-size: 3.2rem;
}
ul[class],
li[class] {
  margin: 0;
  padding: 0;
  list-style: none;
}
.cta {
  display: block;
  width: max-content;
  margin: 2rem 0;
  padding: 1rem 2rem;
  border-radius: 2em;
  background-color: var(--header-background);
  color: var(--header-links-color);
  text-decoration: none;
}
.cta.delete {
  background-color: var(--alert-color);
}
.cta:hover {
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
@media screen and (min-width: 36em) {
  .container {
    max-width: calc(36em - 3rem);
  }
}
@media screen and (min-width: 48em) {
  .container {
    max-width: calc(48em - 3rem);
  }
}
@media screen and (min-width: 62em) {
  .container {
    max-width: calc(62em - 3rem);
  }
}
@media screen and (min-width: 75em) {
  .container {
    max-width: calc(75em - 3rem);
  }
}
@media screen and (min-width: 87.5em) {
  .container {
    max-width: calc(87.5em - 3rem);
  }
}
.hidden {
  display: none;
}
.italic {
  font-style: italic;
}




.header {
  padding: 2rem 0;
  background-color: var(--header-background);
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav a {
  color: var(--header-links-color);
  text-decoration: none;
}
.header-nav-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-nav-links a {
  display: block;
  padding: 1rem 2rem;
  border-radius: 2em;
}
.header-nav a:hover {
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}
.header-nav-links li:last-child a {
  background-color: var(--header-links-color);
  color: var(--header-background);
}
.header-nav-links li:not(:last-of-type) a {
  margin-right: 1rem;
}




.home p {
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  text-align: justify;
}



.profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-header.cta-right {
  justify-content: flex-end;
}
.profile-header.cta-right a {
  margin-bottom: 0;
}
.profile h1 {
  text-align: left;
}
.profile-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-data {
  width: 30%;
  padding: 2rem;
  border-radius: 2rem;
  background-color: var(--forms-background);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}
.profile-data > p {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--borders);
}
.profile-data .data {
  margin-bottom: 0.5rem;
}
.profile-data .data p {
  color: #646464;
}
.profile-data span {
  display: block;
  font-weight: bold;
  color: var(--primary-color);
}
.profile-dashboard {
  width: 70%;
  margin-left: 4rem;
  padding: 2rem 0;
}
.actions-cta {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.actions-cta .cta:not(.cta:last-of-type) {
  margin-right: 1rem;
}
.cta.add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.2rem;
  border-radius: 50%;
}
.cta:hover {
  text-decoration: none;
}




.profile-skills ul {
  display: flex;
  flex-wrap: wrap;
}
.profile-skills .skill {
  width: max-content;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 1.2rem;
  border-radius: 0.2rem;
  background-color: var(--dashboard-feature);
  box-shadow: var(--shadow);
}
.skill-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.skill-header a:first-of-type {
  color: var(--header-background);
}
.skill-header a:last-of-type {
  margin-left: 0.3rem;
  color: var(--alert-color);
  font-size: 1.9rem;
}
.skill-level i {
  margin-right: 0.2rem;
  color: var(--header-background);
}
.skill-level {
  display: flex;
  justify-content: flex-start;
  margin: 1rem 0;
}
.skill-like {
  display: flex;
  justify-content: flex-end;
}
.skill-like i {
  display: flex;
  justify-content: flex-end;
  color: var(--header-background);
}




.missions-list li {
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: var(--dashboard-feature);
  box-shadow: var(--shadow);
  border-radius: 0.2rem;
}
.mission-date {
  width: max-content;
  padding: 0.2rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0.2rem;
  background-color: #FFD900;
  font-style: italic;
}
.mission-infos {
  margin-left: 2rem;
}
.mission-infos > p:first-of-type {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--borders);
}




.form {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  padding: 2rem 1rem;
  border-radius: 2rem;
  background-color: var(--forms-background);
}
@media screen and (min-width: 36em) {
  .form {
    max-width: 80%;
    padding: 2rem 4rem;
  }
}
@media screen and (min-width: 48em) {
  .form {
    max-width: 60%;
  }
}
@media screen and (min-width: 62em) {
  .form {
    max-width: 40%;
  }
}
.form input,
.form label,
.form textarea {
  display: block;
  width: 100%;
}
.form input {
  margin-bottom: 0.5rem;
}
.form > div:last-of-type {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}
.form div[id] {
  display: flex;
  margin-bottom: 0.5rem;
}
.form div[id] > select:not(select:last-of-type) {
  margin-right: 1rem;
}
.form select {
  width: 100%;
  padding: 0.6rem 0;
  background-color: #FFF;
  border: 1px solid #8F8F9D;
  border-radius: 2px;
}




.footer {
  padding: 1.2rem 0;
  background-color: var(--footer-background);
  color: var(--footer-links-color);
}
.footer a {
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.footer a, .footer i {
  color: var(--footer-links-color);
}
.footer i {
  font-size: 2.3rem;
}
.footer i:hover, .footer a:hover {
  color: var(--footer-links-color-hover);
}
.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-nav-links p {
  margin-right: 1rem;
}
.footer-nav-links li {
  margin: 0 1rem;
}
.footer-nav-social li:first-child {
  margin-right: 1rem;
}




.alert, 
.success {
  width: 100%;
  margin: 3rem 0;
  padding: 1rem 0;
}
.alert {
  background-color: var(--alert-background);
  border-top: 1px solid var(--alert-color);
  border-bottom: 1px solid var(--alert-color);
  color: var(--alert-color); 
}
.success {
  background-color: var(--success-background);
  border-top: 1px solid var(--success-color);
  border-bottom: 1px solid var(--success-color);
  color: var(--success-color);
}
