:root {
  --primary-background:         #FFF;
  --primary-color:              #000;
  --secondary-background:       #032354;
  --tertiary-background:        #FFD900;

  --header-links-color:         #FFF;
  --footer-links-color:         #D5D5D5;
  --footer-links-color-hover:   #FFF;

  --forms-background:           #E4E4E4;
  --dashboard-feature:          #F5F5F5;
  --profile-data:               #646464;

  --alert-background:           #EDBEBE;
  --alert-color:                #871919;
  --success-background:         #AEEBB5;
  --success-color:              #138320;
  
  --shadow:                     1px 2px 3px rgba(0, 0, 0, 0.3);
  --borders:                    #979797;
}




body {
  background-color: var(--primary-background);
  font-family: sans-serif;
  font-size: 1.2rem;
}
@media screen and (min-width: 36em) {
  body {
    font-size: 1.6rem;
  }
}
section {
  min-height: calc(100vh - (50px + 64px));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 48em) {
  section {
    min-height: calc(100vh - (52px + 84px));
  }
}
h1 {
  margin: 2rem 0;
  text-align: center;
  font-size: 2.4rem;
}
h2 {
  font-size: 2rem;
}
@media screen and (min-width: 36em) {
  h1 {
    font-size: 3.2rem;
    margin: 3rem 0;
  }
  h2 {
    font-size: 2.4rem;
  }
}
ul[class],
li[class] {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}
@media screen and (min-width: 36em) {
  .container {
    max-width: calc(36em - 3rem);
  }
}
@media screen and (min-width: 48em) {
  .container {
    max-width: calc(48em - 3rem);
  }
}
@media screen and (min-width: 62em) {
  .container {
    max-width: calc(62em - 3rem);
  }
}
@media screen and (min-width: 75em) {
  .container {
    max-width: calc(75em - 3rem);
  }
}
.hidden {
  display: none;
}
.italic {
  font-style: italic;
}
a.update i {
  color: var(--secondary-background);
}
a.delete i {
  margin-left: 0.3rem;
  color: var(--alert-color);
  font-size: 1.9rem;
}
.cta {
  display: block;
  width: max-content;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  border-radius: 2em;
  background-color: var(--secondary-background);
  color: var(--header-links-color);
  text-decoration: none;
}
@media screen and (min-width: 36em) {
  .cta {
    margin-bottom: 2rem;
  }
}
.cta.add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.2rem;
  border-radius: 50%;
}
.cta.delete {
  background-color: var(--alert-color);
}
.cta:hover {
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}
.actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.actions > .cta:not(.cta:last-of-type) {
  margin-right: 1rem;
}




.header {
  position: relative;
  z-index: 2;
  padding: 2rem 0;
  background-color: var(--secondary-background);
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav a {
  color: var(--header-links-color);
  text-decoration: none;
}

.header-nav-links {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--secondary-background);
  transform: translateY(-150%);
  transition: all 0.3s ease-in-out;
}
.header-nav-links.open {
  transform: translateY(0%);
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 48em) {
  .header-nav-links {
    position: relative;
    z-index: 2;
    flex-direction: row;
    width: max-content;
    transform: translateY(0%);
  }
}
.header-nav-links li:last-of-type {
  padding-bottom: 2rem;
}
@media screen and (min-width: 48em) {
  .header-nav-links li:last-of-type {
    padding-bottom: 0;
  }
}
.header-nav-links a {
  display: block;
  padding: 1rem 2rem;
  border-radius: 2em;
}
.header-nav a:hover {
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}
.header-nav-links li:last-child a {
  background-color: var(--header-links-color);
  color: var(--secondary-background);
}
.header-nav-links li:not(:last-of-type) a {
  margin-right: 1rem;
}




.home p {
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  text-align: justify;
}




.skill-header,
.mission-header,
.company-header,
.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-header {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 36em) {
  .profile-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.profile-header .cta {
  align-self: flex-end;
  margin: 1rem 0; 
}
@media screen and (min-width: 36em) {
  .profile-header .cta {
    align-self: initial;
    margin: 0;
  }
  .profile-header.unique-item {
    justify-content: flex-end;
    margin: 2rem 0; 
  }
}
.profile-header h1 {
  margin-bottom: 0;
  text-align: left;
}
@media screen and (min-width: 36em) {
  .profile-header h1 {
    margin-bottom: 3rem;
  }
}
.profile h1 {
  text-align: left;
}
.profile-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (min-width: 62em) {
  .profile-infos {
    flex-direction: row;
  }
}
.profile-data {
  display: block;
  width: 100%;
  margin-bottom: 3rem;
  padding: 1rem;
  border-radius: 0.2rem;
  background-color: var(--forms-background);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}
.main-data {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--borders);
}
@media screen and (min-width: 36em) and (max-width: 61.9rem) {
  .profile-data {
    display: flex;
    width: 100%;
    margin-bottom: 3rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: var(--forms-background);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  }
  .main-data {
    margin-right: 2rem;
    padding-right: 2rem;
    border-right: 1px solid var(--borders);
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
}
@media screen and (min-width: 62em) {
  .profile-data {
    width: 30%;
    padding: 2rem;
    border-radius: 2rem;
  }
}
.profile-data img {
  display: block;
  margin-bottom: 2rem;
}
.profile-data .data {
  margin-bottom: 0.5rem;
}
.profile-data .data p {
  color: var(--profile-data);
}
.profile-data span {
  display: block;
  font-weight: bold;
  color: var(--primary-color);
}
.profile-dashboard {
  width: 100%;
  margin-bottom: 3rem;
}
@media screen and (min-width: 62rem) {
  .profile-dashboard {
    width: 70%;
    margin-left: 4rem;
    padding-bottom: 2rem;
  }
}
.profile-dashboard h2 {
  margin-bottom: 2rem;
}




ul.skills-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}
li.skill {
  padding: 1.2rem;
  border-radius: 0.2rem;
  background-color: var(--dashboard-feature);
  box-shadow: var(--shadow);
}
.skill-level {
  display: flex;
  justify-content: flex-start;
  margin: 1rem 0;
}
.skill-level i {
  margin-right: 0.2rem;
  color: var(--secondary-background);
}
.skill-like {
  display: flex;
  justify-content: flex-end;
}
.skill-like i {
  display: flex;
  justify-content: flex-end;
  color: var(--secondary-background);
}




li.mission {
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 0.2rem;
  background-color: var(--dashboard-feature);
  box-shadow: var(--shadow);
}
.mission-date {
  width: max-content;
  padding: 0.2rem 1rem;
  margin-bottom: 1rem;
  border-radius: 0.2rem;
  background-color: var(--tertiary-background);
  font-style: italic;
}
@media screen and (min-width: 36em) {
  .mission-infos {
    margin-left: 2rem;
  }
}
.mission-infos > p:first-of-type {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--borders);
}
.mission-infos > p:last-of-type {
  color: var(--profile-data);
}




ul.users-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-bottom: 2rem;
}
li.user {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  box-shadow: var(--shadow);
}
.user a {
  display: block;
  margin-top: 1rem;
  color: var(--secondary-background);
}
.user p {
  color: var(--profile-data);
}
.user.is-employed {
  background-color: var(--forms-background);
}




.member-infos {
  padding: 1rem;
  border-radius: 0.2rem;
  box-shadow: var(--shadow);
}
@media screen and (min-width: 36em) {
  .member-infos {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem;
    border-radius: 0.2rem;
  }
}
.member-infos.is-employed {
  background-color: var(--forms-background);
  box-shadow: var(--shadow);
}
@media screen and (min-width: 36em) {
  .member-data {
    width: 100%;
    margin-left: 2rem;
    padding-left: 2rem;
    border-left: solid 1px var(--borders);
  }
}
.member-img {
  margin-bottom: 1rem;
}
.member-data-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
}
.member-data .data {
  color: var(--profile-data);
}
.member-data .data span {
  color: var(--primary-color);
}
.member-infos,
.member-skills {
  margin-bottom: 4rem;
}
.member-skills h2,
.member-missions h2 {
  margin-bottom: 2rem;
}




@media screen and (min-width: 36em) {
  ul.companies-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    gap: 2rem;
  }
}
.company-header {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--borders);
}
li.company {
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 0.2rem;
  background-color: var(--dashboard-feature);
  box-shadow: var(--shadow);
}
@media screen and (min-width: 36em) {
  li.company {
    margin-bottom: 0;
  }
}
li.company > p:last-of-type { 
  color: var(--borders);
  font-style: italic;
}




li.category {
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: var(--dashboard-feature);
  border-radius: 0.2rem;
  box-shadow: var(--shadow);
}
.category > p:last-of-type {
  font-style: italic;
  color: var(--profile-data);
}




.form {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  padding: 2rem 1rem;
  border-radius: 2rem;
  background-color: var(--forms-background);
}
@media screen and (min-width: 36em) {
  .form {
    max-width: 80%;
    padding: 2rem 4rem;
  }
}
@media screen and (min-width: 48em) {
  .form {
    max-width: 60%;
  }
}
@media screen and (min-width: 62em) {
  .form {
    max-width: 40%;
  }
}
.form input,
.form label,
.form textarea {
  display: block;
  width: 100%;
}
.form > div:last-of-type {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}
.form div {
  margin-bottom: 0.5rem;
}
.form div[id] {
  display: flex;
}
.form div[id] > select:not(select:last-of-type) {
  margin-right: 1rem;
}
.form select {
  width: 100%;
  padding: 0.6rem 0;
  background-color: #FFF;
  border: 1px solid #8F8F9D;
  border-radius: 2px;
}
.form.filter {
  display: flex;
  max-width: 100%;
}
.form.filter div {
  margin: 0;
}
.form.filter div:first-of-type {
  margin-right: 1rem;
  flex: 8;
}
.form.filter div:last-of-type {
  flex: 1;
}




.upload-form {
  max-width: 100%;
  margin-top: 2rem;
}
.upload-form > div {
  margin: 0;
}
.upload-form > div:last-of-type {
    margin: 0;
}
.upload-form #upload_name {
  margin: 1rem 0;
}
.file {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.fa-file-pdf {
  margin-right: 1rem;
  font-size: 2rem;
}




.footer {
  padding: 1.2rem 0;
  background-color: var(--secondary-background);
  color: var(--footer-links-color);
}
.footer a {
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.footer a, .footer i {
  color: var(--footer-links-color);
}
.footer i {
  font-size: 2.3rem;
}
.footer i:hover, .footer a:hover {
  color: var(--footer-links-color-hover);
}
.footer-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-nav-links p {
  margin-right: 1rem;
}
.footer-nav-links li {
  margin: 0 1rem;
}
.footer-nav-social li:first-child {
  margin-right: 1rem;
}




.alert, 
.success {
  width: 100%;
  margin-top: 3rem;
  padding: 1rem 0;
}
.alert {
  margin-bottom: 2rem;
  background-color: var(--alert-background);
  border-top: 1px solid var(--alert-color);
  border-bottom: 1px solid var(--alert-color);
  color: var(--alert-color); 
}
.success {
  background-color: var(--success-background);
  border-top: 1px solid var(--success-color);
  border-bottom: 1px solid var(--success-color);
  color: var(--success-color);
}
#menu-button {
  padding: 0;
  width: 2.4rem;
  height: 2.4rem;
  border: none;
  border-radius: 0.2rem;
}
@media screen and (min-width: 48em) {
  #menu-button {
    display: none;
  }
}
.burger-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 50%;
  margin: 25% auto;
}
.burger-button span {
  display: block;
  width: 100%;
  height: 0.2rem;
  border-radius: 0.1rem;
  background-color: var(--secondary-background);
  transition: all 0.3s ease-in-out;
}
.switch {
  position: relative;
}
.switch .burger-button span:nth-of-type(1) {
  transform-origin: center;
  transform: translateY(5px) rotate(45deg);
}
.switch .burger-button span:nth-of-type(2) {
  transform: scale(0);
}
.switch .burger-button span:nth-of-type(3) {
  transform-origin: center;
  transform: translateY(-5px) rotate(-45deg);
}