{% extends 'base.html.twig' %}

{% block title %}Supprimez votre compte{% endblock %}

{% block body %}

    <section class="profile">
        <div class="container">
            <p>Vous êtes sur le point de supprimer votre compte, cette action est rédibitoire. Etes-vous sur de continuer ?</p>
            <div class="actions-cta">
                <a href="{{ path('delete_profile') }}" class="cta delete">Supprimer mon compte</a>
                <a href="{{ path('profile') }}" class="cta">Retour</a>
            </div>
        </div>
    </section>
    
{% endblock %}
