{% extends 'base.html.twig' %}

{% block title %}Ajoutez une expérience{% endblock %}

{% block body %}
    <section>
        <div class="container">
            {% if is_granted('ROLE_COMMERCIAL') %}
                
                <div class="profile-header cta-right">
                    <a href="{{ app.request.headers.get('referer') }}" class="cta">Retour</a>
                </div>
                <h1>Ajoutez une expérience à {{ profile.firstname }}</h1>
                {{ form_start(experience_form, {'attr': {'class': 'form'}}) }}
                {{ form_end(experience_form) }}
            {% endif %}
        </div>
    </section>
{% endblock %}